# Don't upload secrets
.env
.streamlit/secrets.toml

# Python environment
.venv/
env/
venv/
__pycache__/

# Vector DB files (optional if very large)
chroma_store/

# Model offloading/cache
model_offload/
huggingface/
.cache/
hf_cache/

# OS and IDE specific
.DS_Store
Thumbs.db
.idea/
.vscode/